<%= form_for([@patient, @prescription]) do |f| %>

  <%= errors_in(@prescription) %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.number_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :medication_status %><br>
    <%= f.text_field :medication_status %>
  </div>
  <div class="field">
    <%= f.label :prescription %><br>
    <%= f.text_field :prescription %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
