
  <div class="control-group">
    <%= f.label :prescription, class: 'control-label' %>
    <div class="controls">
      <div class="span3">
        <%= f.select :medication_status, MedicationStatus::ALL, {}, class: 'input-block-level' %>
      </div>
      <div class="span9">
        <%= f.text_field :prescription, class: 'input-block-level' %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, class: 'input-block-level' %>
    </div>
  </div>
