<h1>Listing prescriptions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Patient</th>
      <th>Medication status</th>
      <th>Prescription</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presenter.each do |prescription| %>
      <tr>
        <td><%= prescription.user_id %></td>
        <td><%= prescription.patient_id %></td>
        <td><%= prescription.medication_status %></td>
        <td><%= prescription.prescription %></td>
        <td><%= prescription.notes %></td>
        <td><%= link_to 'Show', [@patient, @appointment, prescription] %></td>
        <td><%= link_to 'Edit', edit_patient_appointment_prescription_path(@patient, @appointment, prescription) %></td>
        <td><%= link_to 'Destroy', [@patient, @appointment, prescription], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prescription', new_patient_appointment_prescription_path(@patient, @appointment) %>
