
<div class="control-group">
  <%= f.label :id_cc, 'ID', class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :id_cc, class: 'input-block-level', rows: 5 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :hpi, 'HPI', class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :hpi, class: 'input-block-level', rows: 10 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :formulation, 'Formulation', class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :formulation, class: 'input-block-level', rows: 10 %>
  </div>
</div>

<div class="control-group">
  <%= f.label :recommendation, 'Recommendation / Plan', class: 'control-label' %>
  <div class="controls">
    <%= f.text_area :recommendation, class: 'input-block-level', rows: 10 %>
  </div>
</div>

