<% content_for :page_title do %>
  <h2>Listing Initial Evaluations</h2>
<% end %>

<% @presenter.each do |ie| %>
  <h4><%= ie.patient.name %>, <%= ie.patient.long_gender %><%= ", #{ ie.patient.age } y.o." if ie.patient.age %></h4>

  <% if ie.appointment %>
  <h5>
    <a name="<%= ie.appointment.start_at_str %>">
      <%= ie.appointment.start_at_str %>
      <%= ie.appointment.appointment_type %>
    </a>
    <% if ie.appointment.canceled_at %>
      <span class="label label-important">Canceled</span>
    <% else %>
      <% if ie.appointment.duration_mins %><%= ie.appointment.duration_min %> minutes<% end %>
    <% end %>
  </h5>
  <% end %>

  <%= render partial: 'initial_evaluations/display', locals: { initial_evaluation: ie } %>
  <hr/>
<% end %>
