<% (0..2).each do |wk_idx| %>
  <div class="calendar-week">
    <div class="calendar-col calendar-header-col">
      <div class="calendar-cell"></div>
      <% (14..40).each do |idx| %>
        <div class="calendar-cell">
          <h5>
            <% if idx % 2 == 0 %>
              <%= idx > 24 ? "#{ (idx / 2) - 12 }:00 PM" : "#{ idx / 2}:00 AM" %>
            <% end %>
          </h5>
        </div>
      <% end %>
    </div> 
    <% (0..6).each do |dy_idx| %>
      <% dy = @presenter.range[7 * wk_idx + dy_idx ] %>
      <div class="calendar-col <%= cycle('col-even', 'col-odd', name: 'col') %>">
        <div class="calendar-cell calendar-header">
          <h5><%= dy %></h5>
        </div>
        <% (14..41).each do |idx| %>
          <div class="calendar-cell <%= cycle('even', 'odd', name: 'row' ) %>" 
               id="<%= dy.strftime('%Y%m%d') %>-<%= idx / 2 %>-<%= idx % 2 %>">
          </div>
        <% end %>
        <% reset_cycle('row') %>
      </div>
    <% end %>
    <% reset_cycle('col') %>
  </div>
<% end %>
<%= javascript_tag do %>
  var appts = <%= @presenter.collection.to_json.html_safe %>;
  for(var i in appts) {
    var appt = appts[i];
    var cell = $('#'+ appt['appt_id']);
    var block = $('<div class="appt">'+ appt.patient_ident +'</div>');
    block.css('top', cell.position().top).
        css('left', cell.position().left);
    $('.calendar-week').append(block);
  }
<% end %>
