<% (0..2).each do |wk_idx| %>
  <div class="calendar-week">
    <div class="calendar-week-header">
      <div class="calendar-cell calendar-hour-header"></div>
      <% (0..6).each do |dy_idx| %>
        <div class="calendar-cell">
          <h5><%= @presenter.range[7 * wk_idx + dy_idx] %></h5>
        </div>
      <% end %>
    </div>
    <% (7..20).each do |hr_idx| %>
      <div class="calendar-week-hour">
        <div class="calendar-cell calendar-hour-header">
          <%= hr_idx > 12 ? "#{ hr_idx - 12 }:00 PM" : "#{ hr_idx }:00 AM" %>&nbsp;
        </div>
      <% (0..6).each do |dy_idx| %>
        <div id="<%= @presenter.range[7 * wk_idx + dy_idx ].strftime('%Y%m%d') %>-<%= hr_idx %>" class="calendar-cell <%= cycle('even', 'odd') %>">

        </div>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<% @presenter.calendar.each_pair do |dt, hash| %>
  <p><%= dt %><br/><%= hash.inspect %></p>
<% end %>
