<% content_for :page_title do %>
  <h2>New Patient</h2>
<% end %>

<%= form_for @patient, html: { class: 'form-horizontal' } do |f| %>
  <%= errors_in @patient %>
  <%= render partial: 'patients/form', locals: { f: f } %>
  <hr/>
  <div class="control-group">
    <div class="controls">
      <%= f.submit %> 
      <%= link_to 'Back', patients_path %>
    </div>
  </div>
<% end %>
