<% content_for :page_title do %>
  <h2><%= @patient.name %>, <%= @patient.long_gender %><%= ", #{ @patient.age } y.o." if @patient.age %></h2>
<% end %>

<% content_for :actions do %>
  <div class="action-block">
    <%= link_to 'Add Appointment to Calendar', new_patient_appointment_path(@patient), class: 'med-icon-link med-calendar'  %>
    <%= link_to 'Enter New Progress Note', new_patient_progress_note_path(@patient), class: 'med-icon-link med-note' %>
    <%= link_to 'Record Medication Change', new_patient_prescription_path(@patient), class: 'med-icon-link med-prescription' %>
    <%= link_to 'Enter New Allergy', new_patient_allergy_path(@patient), class: 'med-icon-link med-allergy' %>
  </div>
<% end %>

<% content_for :quick_look do %>
  <div class="module-block">
    <h5>Allergies</h5>
    <% unless @patient.allergies.empty? %>
      <ul>
      <% @patient.allergies.order('created_at desc').each do |a| %>
        <li><span class="allergy"><%= a.medication_or_food %></span></li>
      <% end %>
      </ul>
    <% else %>
      <p class="info">No allergies recorded.</p>
    <% end %>
  </div>

  <div class="module-block">
    <h5>Medication Changes</h5>
    <% unless @patient.prescriptions.empty? %>
      <ul>
        <% @patient.prescriptions_in_order.each do |p| %>
          <li><%= prescription(p) %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="info">No prescriptions or medications changes recorded</p>
    <% end %>
  </div>

  <div class="module-block">
    <h5>Appointments and Visits</h5>
    <% unless @patient.appointments.empty? %>
      <ul>
        <% @patient.appointments.order('start_at desc').each do |a| %>
          <li>
            <%= appointment(a) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="info">No appointments or other visits recorded</p>
    <% end %>
  </div>
<% end %>

<% @patient.by_date.each_pair do |dttm, hash| %>
  <h4><%= dttm %></h4>
  <label>Prescriptions</label>
  <% hash[:prescriptions].each do |p| %>
    <p><%= prescription(p) %></p>
  <% end %>
  <% hash[:progress_notes].each do |pn| %>

    <label>Interim History</label>
    <p><%= pn.interim_history %></p>

    <label>Medications and Side Effects</label>
    <p><%= pn.medications_side_effects %></p>

    <label>Impression and Diagnosis</label>
    <p><%= pn.impression_diagnosis %></p>

    <label>Mental Status Exam</label>
    <div class="container-fluid">
      <div class="span6">
        <label>Appearance</label>
        <p><%= pn.appearance %></p>

        <label>Behavior</label>
        <p><%= pn.behavior %></p>

        <label>Speech</label>
        <p><%= pn.speech %></p>

        <label>Thought Process</label>
        <p><%= pn.though_process %></p>

        <label>Mood/Affect</label>
        <p><%= pn.mood_affect %></p>

        <label>Vital Sense/Self Attitude</label>
        <p><%= pn.vital_sense %></p>
      </div>
      <div class="span6">
        <label>SI/HI</label>
        <p><%= pn.sihi %></p>

        <label>Hallucinations</label>
        <p><%= pn.hallucinations %></p>

        <label>Delusions</label>
        <p><%= pn.delusions %></p>

        <label>Phobias/Obsessions</label>
        <p><%= pn.phobias_obsessions %></p>

        <label>Cognitive State</label>
        <p><%= pn.cognitive_state %></p>

        <label>Insight/Judgement</label>
        <p><%= pn.insight_judgement %></p>
      </div>
    </div>

    <label>Plan</label>
    <p><%= pn.plan %></p>
  <% end %>
<% end %>
