<% if defined? appointment and appointment %>
  <h4>
    <a name="<%= appointment.start_at_str %>">
      <%= appointment.start_at_str %>
      <%= appointment.appointment_type %>
    </a>
    <% if appointment.canceled_at %>
      <span class="label label-important">Canceled</span>
    <% else %>
      <% if appointment.duration_mins %><%= appointment.duration_min %> minutes<% end %>
    <% end %>
  </h4>

  <% unless appointment.canceled_at %>
    <label>Medication Changes</label>
    <% if appointment.prescriptions.present? %>
      <% appointment.prescriptions.each do |p| %>
        <p class="prescription">
          <%= prescription_span p %>
          <%= p.prescription %>
        </p>
      <% end %>
    <% else %>
      <p class="text-info">No medication changes recorded.</p>
    <% end %>

    <% appointment.progress_notes.each do |pn| %>
      <label>Interim History</label>
      <p><%= pn.interim_history %></p>

      <label>Medications and Side Effects</label>
      <p><%= pn.medications_side_effects %></p>

      <label>Impression and Diagnosis</label>
      <p><%= pn.impression_diagnosis %></p>

      <label>Mental Status Exam</label>
      <div class="container-fluid">
        <div class="span6">
          <label>Appearance</label>
          <p><%= pn.appearance %></p>

          <label>Behavior</label>
          <p><%= pn.behavior %></p>

          <label>Speech</label>
          <p><%= pn.speech %></p>

          <label>Thought Process</label>
          <p><%= pn.though_process %></p>

          <label>Mood/Affect</label>
          <p><%= pn.mood_affect %></p>

          <label>Vital Sense/Self Attitude</label>
          <p><%= pn.vital_sense %></p>
        </div>
        <div class="span6">
          <label>SI/HI</label>
          <p><%= pn.sihi %></p>

          <label>Hallucinations</label>
          <p><%= pn.hallucinations %></p>

          <label>Delusions</label>
          <p><%= pn.delusions %></p>

          <label>Phobias/Obsessions</label>
          <p><%= pn.phobias_obsessions %></p>

          <label>Cognitive State</label>
          <p><%= pn.cognitive_state %></p>

          <label>Insight/Judgement</label>
          <p><%= pn.insight_judgement %></p>
        </div>
      </div>

      <label>Plan</label>
      <p><%= pn.plan %></p>
    <% end %>
  <% end %>
<% end %>
