<% if defined? appointment and appointment %>
  <h4>
    <a name="<%= appointment.start_at_str %>">
      <%= appointment.start_at_str %>
      <%= appointment.appointment_type %>
    </a>
    <% if appointment.canceled_at %>
      <span class="label label-important">Canceled</span>
    <% else %>
      <% if appointment.duration_mins %><%= appointment.duration_min %> minutes<% end %>
    <% end %>
  </h4>

  <% unless appointment.canceled_at %>
    <label>Medication Changes</label>
    <% if appointment.prescriptions.present? %>
      <% appointment.prescriptions.each do |p| %>
        <p class="prescription">
          <%= prescription_span p %>
          <%= p.prescription %>
        </p>
      <% end %>
    <% else %>
      <p class="text-info">No medication changes recorded.</p>
    <% end %>

    <% appointment.progress_notes.each do |pn| %>
      <%= render partial: 'progress_notes/display', locals: { progress_note: pn } %>
    <% end %>
  <% end %>
<% end %>
